appsettings.json	
.vs/
.bin/
.obj/
.idea	
.idea/
appsettings.Development.json
appsettings.Local.json
appsettings.json
obj/Debug/net9.0
obj/Debug/net9.0/
obj
bin
# Build output folders
bin/
obj/


# Visual Studio build artifacts
*.user
*.suo
*.cache
*.log

# NuGet packages
*.nupkg
packages/